<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/Shubh/IdeaProjects/AutomationFramework/src/test/java/Automation/org/Shubham/Tests/VWO/LoginTests.java">
        <classes>
            <class name="Automation.org.Shubham.Tests.VWO.LoginTests">
            </class>
        </classes>
    </test>
</suite>